.container{
    position: absolute;
    left: 430px;
    top : 200px;
    
}

.bar{
    width: 5px; 
    display:inline-block;
    margin: 0 1px;
}


.button{
    position: relative;
    top: 50px;
    right: 560px;
    border: 2px solid #D9514EFF;
    font-size: 12px;
    margin-right: 2px;
    color:rgb(2, 92, 177);
    font-weight:bold;
    padding: 2px;

    
}

button:hover{
    background: red;
    color: white;
}